node_modules
npm-debug.log
yarn-error.log

.next 
out
build

.env
.env.local
.env.*.local

.git
.gitignore

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
logs

coverage
.nyc_output

*.md
!README.md
.prettierrc
.eslintrc.json
tscongig.tsbuildinfo